html {
  background-color: rgb(226, 255, 247);
}

body {
  font-family: "Noto Sans SC";
  font-size: 10px;
  width: 960px;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 20px;
}

header {
  border-bottom: 4px solid black;
}

nav {
  border-bottom: 4px solid black;
}

main {
  border-bottom: 4px solid black;
}

footer {
  padding: 10px;
}

article {
  display: inline-block;
  width: 720px;
  padding: 20px;
}

aside {
  display: inline-block;
  width: 161px;
  padding: 10px;
}

nav ul{
  display: inline-block;
  width: 660px;
}

nav li{
  display: inline;
}

nav form {
  display: inline-block;
  width: 249px;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}
